*{
	margin: 0;
	padding: 0;
	font-family: "MFYueHeiNoncommercial-Light", sans-serif;
	color: #fff;
}
body{
	background-color: #000;
	color: #fff;
}
.container{
	width: 100%;
	height: 100%;
	position: absolute;
}
.time{
	font-size: 28px;
	font-family: "MFYueHeiNoncommercial-Light", sans-serif;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 5px;
	letter-spacing: 0;
}
.time .timer {
	letter-spacing: 0.05em;
	font-size: 56px;
	padding: 5px 0;
}
.time .date {
	letter-spacing: 0.1em;
	font-size: 25px;
}
.time .lunar {
	letter-spacing: 0.1em;
	font-size: 25px;
	padding: 15px 0 0;
}

.qrcode{
	position: absolute;
	bottom: 0;
	left: 5px;
}
.qrcode img{
	width: 70px;
	height: 70px;
}

.quality{
	position: absolute;
	top: 10px;
	right: 40px;
	color: #dbdbdb;
	font-size: 25px;
	width: 112px;
}
.quality img{
	height: 22px;
	width: 22px;
	margin-right: 10px;
}

.weather{
	position: absolute;
	top: 100px;
	right: 20px;
	font-size: 22px;
	width: 210px;
}
.weather-main img{
	width: 30px;
	height: 30px;
	margin-bottom: -8px;
}
.forecast{
	border-top: 1px solid #bdbdbd;
	width: 220px;
	margin-top: 20px;
	padding-top: 10px;
}
.forecast p{
	margin-bottom: 10px;
}

.indoor{
	position: absolute;
	left: 5px;
	top: 175px;
	width: 300px;
	height: 375px;
}
.indoor li{
	list-style: none;
	float: left;
	font-size: 18px;
	margin-right: 22px;
	text-align: center;
}
.indoor li .in-common{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	color: #c5bebe;
	line-height: 50px;
	font-size: 27px;
}
.dist{
	position: absolute;
	right: 5px;
	top: 320px;
}

.regard{
	position: absolute;
	left: 5px;
	bottom: 70px;
	width: 400px;
	height: 50px;
	font-size: 38px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,NotoSansCJK,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
}

.news{
	position: absolute;
	left: 5px;
	bottom: 20px;
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,NotoSansCJK,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
}

.media{
	position: absolute;
	bottom: 0;
	right: 5px;
}
.media img{
	height: 70px;
	width: 70px;
}
.media-body{
	position: absolute;
	top: 40%;
	width: 510px;
}
.media-body li{
	float: left;
	list-style: none;
	display: block;
	margin-left: 70px;
}
.media-body li img{
	width: 100px;
	height: 100px;
}
.media-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 9999;
}

.photo{
	width: 70%;
	height: 70%;
	position: absolute;
	left: 15%;
	top: 15%;
	z-index: 99999;
}
